# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Local Environment Variables
.env.local
.env

# Next.js
/.next/
/out/
next-env.d.ts

# Drizzle ORM
/drizzle/ 

# Production build files
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json 


# Editor directories and files
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS X / Windows folder attributes
.DS_Store
Thumbs.db
ehthumbs.db

# Optional: Test files coverage directory
/coverage

# Migration files
/src/db/migrations/